*{
	margin:0px;
	padding:0px;
	text-decoration:none;
	list-style-type:none;
}
.tbtittle{
    color:  lightblue;
    text-align: left;
}


#tittle{
    color: red;
}
<<<<<<< HEAD

=======
.table{
    width: 70%;
    margin-top: auto;
    text-align: center;
}
>>>>>>> 0c52aa44392886d570d60e1d8b825fa3e8b1109b
#header{
width:100%;
   
}
.row{
	margin:auto;
    width: 1000px;
}

#content{
<<<<<<< HEAD
	position: relative;
    border: none;
	width: 70%;
	height: 200px;
=======
	margin-left:15%;
>>>>>>> 0c52aa44392886d570d60e1d8b825fa3e8b1109b
}





.box{
	margin-top:50px;
    width: 100%;
    height: 150px;
    background-color: white;
    box-shadow: 10px 10px 5px #888888;
	border:none;
}

/* Css cho About US */
#image{
	width:100%;
	height:100%;
}
#content{
	width:1200px;
	margin:auto;
	
}
#left{
	width:650px;
	padding:50px 5px 5px 5px;
	float:left;
}
#left p{
	text-align:justify;
}
#right{
	width:550px;
	float:left;
	padding:50px 5px 5px 50px;
}
#right img{
	float:left;
	width:180px;
	height:150px;
	padding:0px 20px 20px 20px;
}
#right ul li{
	text-align:justify;
	border-bottom:1px solid #CCC;
	margin-top:20px;
}
/*CSS cho Home */
#header{
	width:100%;
	height:450px;
	background:url(../image/Global%20-%20Copy_0.jpg);
}
#center{
	height:200px;
	background-color:#CCCC;
}
#center1{
	margin:auto;
	color:#FFF;
	text-align:center;
}
#center1 ul li{
	width:300px;
	height:350px;
	float:left;
	padding:30px;
	border:1px solid #CCC;
	margin:20px;
	background-color:#09F;
	text-align:center;
	opacity:0.7;
	border-radius:10px;
}
#center1 ul li:hover{
	background-color:#FFF;
	color:#06F;
}
#image1{
	position:absolute;
	top:-40px;
	left:120px;
}
#image2{
	position:absolute;
	top:-40px;
	left:458px;
}
#image3{
	position:absolute;
	top:-40px;
	left:795px;
}
#center1{
	position:absolute;
	top:300px;
	left:290px;
}

/* Center2 */
#center2{
	width:100%;
	background-color:#FFF;
}
<<<<<<< HEAD
#navigation{
    list-style:none; 
}
=======
#center2 ul{
	width:1100px;
	margin:auto;
>>>>>>> 0c52aa44392886d570d60e1d8b825fa3e8b1109b
}
#center2 ul li{
	width:505px;
	float:left;
	margin:auto;
	border:1px solid #CCC;
	padding:20px 50px 50px 50px;
	margin:20px;
	border-radius:5px;
	text-align:center;
}
#center2 ul li:hover{
	border:1px solid #06F;
}
#center2 img{
	margin:auto;
	padding-bottom:20px;
}
#center2 >p{
	color:#F00;
	font-weight:bold;
	font-size:34px;
	margin:auto;
	text-align:center;
	padding-top:50px;
	font-family:Georgia, "Times New Roman", Times, serif;
}
#footer{
	width:100%;
	background-repeat:no-repeat;
	margin:auto;
	float:left;
	background-image:url(../image/thiet-ke-van-phong-hien-dai-thoai-mai.jpg);
}
#footer >p{
	text-align:center;
	color:#FFF;
	font-size:28px;
	font-weight:bold;
	padding:70px;
}
#footer1{
	width:1200px;
	margin:auto;
}
#footer_left{
	width:565px;
	float:left;
	background-color:#F5F5F5;
	margin:5px;
	text-align:center;
	padding:20px;
}
#footer_left img{
	position:absolute;
	top:1750px;
	left:230px;
	width:120px;
	height:120px;
	padding:2px;
}
#footer_right{
	width:565px;
	float:left;
	background-color:#F5F5F5;
	margin:5px;
	text-align:center;
	padding:20px;
}

#footer_right img{
	position:absolute;
	top:1750px;
	left:825px;
	width:120px;
	height:120px;
	padding:2px;
}
.border{
	border:1px solid #CCC; width:577px; height:200px;
	float:left;
	margin:20px 10px 100px 10px;

}

/* css cho services*/
.table tr th{
	color:#09F; 
	font-size:22px;
	}
	







